<a href="https://colab.research.google.com/github/sechanssi/python/blob/main/py_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1 파이썬 문법

## 자료형
#### 숫자형
정수 : 123.-20. 0  
실수 : 123.45.-4321.5. 6.08e9  
8진수 : 0o456. 0o123  
16진수 : 0xFF. 0x00. 0x0A

#### 변수
* 문자 또는 밑줄로 시작(beta,_kim)
* 대소문자를 구분한다.(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(a-z, 0-9,_)
* 파이썬 키워드는 사용 불가

In [ ]:
a = 10
b = 20
c = a + b
print(c)

30

In [ ]:
a = 52
b = 10
c = a/b # 나눗셈
d = a-b
e = a*b
f = a//b # 몫
g = a%b # 나머지
print(c,d,e,f,g)

5.2 42 520 5 2

In [ ]:
from binascii import b2a_base64
a = 10
b = 2
# 나눗셈
c = a/b
d = a//b
e = a%b
f = a*b
g = a**b
print(c,b,e,f,g)

5.0 2 0 20 100

#### 문자열  
1. 큰 따옴표 : "Hello World!"  
2. 작은 따옴표 : '대한민국'  
3. 큰 따옴표 3개 : """hello!""" 
4. 작은 따옴표 3개 : 
'''나랏 말쌓미 뒹궐에 다라  
   엔터도 먹음'''

In [ ]:
myName = "Kim" # 카멜
my_name = "김" # 스네이크
MyName = "kk" # 파스칼
_my_name = "kim"
MYNAME = "Kim"
my2name = "123kim"
# 숫자 마이너스 스페이스바 안됨
myStr = '123' # str
myNum = 123 # int

print(myStr, myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

#### 여러개 변수 할당

In [ ]:
x,y,z = "포도","딸기","수박"
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
a = b = c = "오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [ ]:
fruits = ["포도","딸기","수박"]
x,y,z = fruits
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
x = "life"
y = "is"
z = "beautiful"
print(x,y,z)
print(x+y+z)

life is beautiful
lifeisbeautiful

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형
+ 텍스트
+ 숫자
+ 불 (bool)

In [ ]:
a = 100
b = 200
sum = a + b
print(a,'+', b, '=', sum)

sum = a - b
print(a, '-', b, '=', sum)

sum = a * b
print(a, '*', b, '=', sum)

sum = a / b
print(a, '/', b, '=', sum)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

#### input() 함수를 이용한 계산기

In [ ]:
a = int(input("첫 번째 수를 입력하세요: "))
b = int(input("두 번째 수를 입력하세요: "))
result = a + b
print(a,'+', b, '=', result)

result = a - b
print(a, '-', b, '=', result)

result = a * b
print(a, '*', b, '=', result)

result = a / b
print(a, '/', b, '=', result)
# 제곱, 몫, 나머지
result = a ** b
print(a, '**', b, '=', result)

result = a // b
print(a, '//', b, '=', result)

result = a % b
print(a, '%', b, '=', result)

첫 번째 수를 입력하세요: 12
두 번째 수를 입력하세요: 12
12 + 12 = 24
12 - 12 = 0
12 * 12 = 144
12 / 12 = 1.0
12 ** 12 = 8916100448256
12 // 12 = 1
12 % 12 = 0

In [ ]:
num1 = input("숫자입력1: ")
num2 = input("숫자입력2: ")
result = num1 + num2
print(type(num1))
print(num1,'+', num2, '=', result)

숫자입력1: 100
숫자입력2: 100
<class 'str'>
100 + 100 = 100100

In [ ]:
name = input("이름을 입력하세요: ")
phone_num = input("전화번호를 입력하세요: ")
weight = int(input("무게를 입력하세요(g): "))

price = weight * 10

print("이름:", name)
print("전화번호:", phone_num)
print("무게(g):", weight)
print("배송비:", price, "원")

이름을 입력하세요: 김세찬
전화번호를 입력하세요: 020
무게를 입력하세요(g): 20
이름: 김세찬
전화번호: 020
무게(g): 20
배송비: 200 원

#### 2. print() 서식 출력

In [5]:
print( "%d " % 123)
print( "%5d " % 123)
print( "%05d " % 123)

print( "%f " % 123.45)
print( "%7.1f " % 123.45)
print( "%7.3f " % 123.45)

print( "%s " % "대한민국")
print( "%8s " % "대한민국")

123
  123
00123
123.450000
  123.5
123.450
대한민국
    대한민국

In [9]:
print( "{0:d} {1:5d} {2:05d}".format(123,456,789))

123   456 00789

In [8]:
print( "{2:d} {1:5d} {0:05d}".format(123,456,789))

789   456 00123

### 서식 출력

In [10]:
print("\n줄바꿈\n연습입니다")

줄바꿈
연습입니다

In [11]:
print("\t탭키\t연습입니다")

	탭키	연습입니다

In [19]:
print("글자가 \"강조\"되는 효과1")
print("글자가 \'강조\'되는 효과2")
print("역슬래시 3개 출력 \\\\\\")
print(r"\n \t \" \\ \" @를 그대로 출력") #그대로 출력됨

글자가 "강조"되는 효과1
글자가 '강조'되는 효과2
역슬래시 3개 출력 \\\
\n \t \" \\ \" @를 그대로 출력

#### 관계 연산자

In [23]:
a,b = 10,20
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True False True False True

In [24]:
a = 99
print((a>100) and (a<200))
print((a>100) or (a<200))
print(not(a==100))

False
True
True

In [26]:
if(123):
  print("참이면 보입니다.")
if(0):
  print("거짓이면 안 보입니다.")

참이면 보입니다.

### 퀴즈2 숫자 입력을 받아 동전으로 바꿔주는 프로그램( 500원, 100원, 50원, 10원) 나머지는 거스름 돈으로 출력

In [37]:
#변수
bill, c500, c100, c50, c10 = 0,0,0,0,0
bill = int(input("바꿀돈은?"))

c500 = bill // 500 # 몫
bill %= 500 # bill = bill % 500
c100 = bill // 100
bill %= 100
c50 = bill // 50
bill %= 50
c10 %= bill // 10
bill %= 10

print("500원짜리 : %d개" % c500)
print("100원짜리 : %d개" % c100)
print("50원짜리 : %d개" % c50)
print("10원짜리 : %d개" % c10)
print("잔돈 %d원" % bill)

바꿀돈은?111
500원짜리 : 0개
100원짜리 : 1개
50원짜리 : 0개
10원짜리 : 0개
잔돈 1원

#### 조건문

In [40]:
a = 2000
if(a<100):
  print("100보다 작음")
else : 
  print("100보다 크다")
print("프로그램 끝")

100보다 크다
프로그램 끝

In [43]:
#짝수 홀수 구분
a = int(input("정수를 입력하시오 : "))
if(a % 2 == 0):
  print("짝수")
else :
  print("홀수")

정수를 입력하시오 : 3
홀수

In [45]:
a = 120
if(a > 50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  print("a<50")

a>100

In [50]:
fruit = ["사과", "배", "감", "포도"]
fruit.append("딸기")
if "딸기" not in fruit :
  print("딸기가 있습니다")
  print("딸기가 없습니다")
print(fruit)

['사과', '배', '감', '포도', '딸기']

In [53]:
import random
number = []
for num in range(0,10):
  number .append(random.randrange(0,10))
print("생성된 리스트", number)

생성된 리스트 [0, 0, 3, 5, 2, 4, 2, 2, 5, 0]

#### 반복문

In [59]:
for i in range(0,3,1):
  print("안녕하세요~")
print("반갑~")

안녕하세요~
안녕하세요~
안녕하세요~
반갑~

In [62]:
for i in range(1,9,1):
    print("%d" % i, end="  ")
for i in range(1,9,1):
    print("\n%d" % i, end="  ")

1  2  3  4  5  6  7  8
1
2
3
4
5
6
7
8

In [64]:
sum=0
for i in range(1,11,1):
  sum = sum + i
print("1~10까지 합계 : %d" % sum)

1~10까지 합계 : 55

#### 퀴즈3 : 숫자 입력을 받아 1부터 입력된 숫자까지의 합을 for문을 활용하여 출력하시오.

In [65]:
sum=0
num = int(input("숫자입력 : "))
for i in range(1,num,1):
  sum = sum + i
print("1~n까지 합계 : %d" % sum)

숫자입력 : 12
1~n까지 합계 : 66

#### 중첩 for문

In [70]:
i,j,k=0,0,0
k = int(input("구구단수 입력 : "))
for i in range(1,10,1):
  print("%d x %d = %2d" % (k,i,k*i))
print("")

구구단수 입력 : 9
9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [84]:
for i in range(2, 10):
    for j in range(1, 10):
        print("%d x %d = %2d" % (i, j, i*j))
    print()

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### 퀴즈 구구단을 2,3,4,5 출력 후 줄바꿔서 출력하시오.

In [112]:
a,b=0,0
for a in range(1, 10, 1):
    for b in range(2, 6,1):
      print("%d x %d = %2d" % (a, b, a*b), end="\t")
    print("")
print("\n")  
a,b=0,0
for a in range(1, 10, 1):
    for b in range(2, 6,1):
      print("%d x %d = %2d" % (a, b, a*b), end="\t")
    print("")

1 x 2 =  2	1 x 3 =  3	1 x 4 =  4	1 x 5 =  5
2 x 2 =  4	2 x 3 =  6	2 x 4 =  8	2 x 5 = 10
3 x 2 =  6	3 x 3 =  9	3 x 4 = 12	3 x 5 = 15
4 x 2 =  8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20
5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25
6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30
7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35
8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40
9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45


1 x 2 =  2	1 x 3 =  3	1 x 4 =  4	1 x 5 =  5
2 x 2 =  4	2 x 3 =  6	2 x 4 =  8	2 x 5 = 10
3 x 2 =  6	3 x 3 =  9	3 x 4 = 12	3 x 5 = 15
4 x 2 =  8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20
5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25
6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30
7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35
8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40
9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45