# CH1 파이썬 문법

## 자료형
#### 숫자형
정수 : 123.-20. 0  
실수 : 123.45.-4321.5. 6.08e9  
8진수 : 0o456. 0o123  
16진수 : 0xFF. 0x00. 0x0A

#### 변수
* 문자 또는 밑줄로 시작(beta,_kim)
* 대소문자를 구분한다.(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(a-z, 0-9,_)
* 파이썬 키워드는 사용 불가

In [7]:
a = 10
b = 20
c = a + b
print(c)

30

In [11]:
a = 52
b = 10
c = a/b # 나눗셈
d = a-b
e = a*b
f = a//b # 몫
g = a%b # 나머지
print(c,d,e,f,g)

5.2 42 520 5 2

In [15]:
from binascii import b2a_base64
a = 10
b = 2
# 나눗셈
c = a/b
d = a//b
e = a%b
f = a*b
g = a**b
print(c,b,e,f,g)

5.0 2 0 20 100

#### 문자열  
1. 큰 따옴표 : "Hello World!"  
2. 작은 따옴표 : '대한민국'  
3. 큰 따옴표 3개 : """hello!""" 
4. 작은 따옴표 3개 : 
'''나랏 말쌓미 뒹궐에 다라  
   엔터도 먹음'''

In [17]:
myName = "Kim" # 카멜
my_name = "김" # 스네이크
MyName = "kk" # 파스칼
_my_name = "kim"
MYNAME = "Kim"
my2name = "123kim"
# 숫자 마이너스 스페이스바 안됨
myStr = '123' # str
myNum = 123 # int

print(myStr, myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

#### 여러개 변수 할당

In [19]:
x,y,z = "포도","딸기","수박"
print(x)
print(y)
print(z)

포도
딸기
수박

In [20]:
a = b = c = "오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [21]:
fruits = ["포도","딸기","수박"]
x,y,z = fruits
print(x)
print(y)
print(z)

포도
딸기
수박

In [24]:
x = "life"
y = "is"
z = "beautiful"
print(x,y,z)
print(x+y+z)

life is beautiful
lifeisbeautiful

In [25]:
a = 1
b = 2
c = 3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형
+ 텍스트
+ 숫자
+ 불 (bool)

In [39]:
a = 100
b = 200
sum = a + b
print(a,'+', b, '=', sum)

sum = a - b
print(a, '-', b, '=', sum)

sum = a * b
print(a, '*', b, '=', sum)

sum = a / b
print(a, '/', b, '=', sum)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

#### input() 함수를 이용한 계산기

In [43]:
a = int(input("첫 번째 수를 입력하세요: "))
b = int(input("두 번째 수를 입력하세요: "))
result = a + b
print(a,'+', b, '=', result)

result = a - b
print(a, '-', b, '=', result)

result = a * b
print(a, '*', b, '=', result)

result = a / b
print(a, '/', b, '=', result)
# 제곱, 몫, 나머지
result = a ** b
print(a, '**', b, '=', result)

result = a // b
print(a, '//', b, '=', result)

result = a % b
print(a, '%', b, '=', result)

첫 번째 수를 입력하세요: 12
두 번째 수를 입력하세요: 12
12 + 12 = 24
12 - 12 = 0
12 * 12 = 144
12 / 12 = 1.0
12 ** 12 = 8916100448256
12 // 12 = 1
12 % 12 = 0

In [45]:
num1 = input("숫자입력1: ")
num2 = input("숫자입력2: ")
result = num1 + num2
print(type(num1))
print(num1,'+', num2, '=', result)

숫자입력1: 100
숫자입력2: 100
<class 'str'>
100 + 100 = 100100

In [57]:
name = input("이름을 입력하세요: ")
phone_num = input("전화번호를 입력하세요: ")
weight = int(input("무게를 입력하세요(g): "))

price = weight * 10

print("이름:", name)
print("전화번호:", phone_num)
print("무게(g):", weight)
print("배송비:", price, "원")

이름을 입력하세요: 김세찬
전화번호를 입력하세요: 020
무게를 입력하세요(g): 20
이름: 김세찬
전화번호: 020
무게(g): 20
배송비: 200 원